.contenedor{
    position: relative;  
    margin: 5px;
    width: 200;
    background-color: lightblue;
    border-radius: 10%;
  
}
.img{
    border-radius: 10%;
    margin: 10px;
    margin-top: 10px;
}
.name{
    color: black;
    background-color: lightgrey;
    position: absolute;
    top: 80%;
    left: 25%;
    font-size: 1.3rem;
    
}

.button{
    position: absolute;
    right: 30px;
    top: 2px;
    background-color: lightcoral;
    border-radius: 20%;
}

.favButton1{
    position: absolute;
    right: 140px;
    top: 0px;
    border-radius: 20%;
}

.favButton2{
    position: absolute;
    right: 140px;
    top: 0px;
    border-radius: 20%;
}